<% if featured_projects.any? %>
<div class="projects box">
<h3><%=l(:label_featured_projects)%></h3>
  <ul>
  <% featured_projects.each do |project| %>
    <li>
    <%= link_to_project project %> (<%= format_time(project.created_on) %>)
    <%= textilizable project.short_description, :project => project %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
